<!DOCTYPE html>
<html lang="en" ng-app="audioApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Audio User Interface</title>
<link  rel="stylesheet"  href="stylesheets/styles.css">
</head>
  <body ng-controller="AudioController">

      <!-- <div id="audioVolume">
          <input id="slider1" type="range" min="0" max="1" step=".01" value="0" />
          <input id="rangeValue" type="text" style="width: 50px;">
      </div> -->

      <div class="playerContainer unselectable ng-cloak" ng-mousemove="mouseMoving($event)" ng-mouseup="dragStop($event)">
          <audio id="audio" src="{{songPlay}}"></audio>
          <div class="imageDisplay">
              <div class="hamIcon" ng-click="showDetails()">
                  <div class="top"></div>
                  <div class="middle"></div>
                  <div class="bottom"></div>
              </div>
              <div class="shadow"></div>
          </div>
          <div class="audioPlaylist" ng-show="showPlaylist">
            <div class="nowPlaying">

                <h2>Now Playing</h2>
                <p ng-bind="playList[songCount].description"></p>
                <p class="duration"><em ng-bind="currentTime | time">00:00</em> / <em ng-bind="totalTime | time">00:00</em></p>
                <div class="arrow" ng-click="hideDetails()"></div>
                <div class="listShadow"></div>
            </div>

          </div>

          <div class="controlsContainer" >
              <div class="topControls">
                  <div class="shuffle"></div>
                  <div id="progressMeter" >
                      <div id="progressBar"></div>
                      <div id="thumbScrubber" ng-mousedown="dragStart($event)"  style="left:{{scrubLeft}}px;"></div>
                      <div id="currentTime" ng-bind="currentTime | time">00:00</div>
                      <div id="totalTime" ng-bind="totalTime | time">00:00</div>
                  </div>
                  <div class="loop" ng-click="toggleLoop()"></div>
              </div>
              <div class="descriptionCtn">
                  <div class="songDescription" ng-repeat="i in getNumber(2) track by $index" ng-bind="playList[songCount].description"></div>
              </div>
              <div class="playPause">
                  <div class="prev" ng-click="restartSong()" ng-dblclick="prevSong()"></div>
                  <div class="play_pause" ng-click="togglePlay(0)"></div>
                  <div class="next" ng-click="nextSong()"></div>
              </div>
          </div>

      </div>

      <!-- JQUERY SCRIPTS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

      <!-- ANGULAR SCRIPTS -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

      <!-- AUDIO UI SCRIPTS -->
      <script src="javascripts/audio.js"></script>

  </body>
</html>
